body {
    padding-bottom: 200px;
}

.left-content {
    max-width: 1000px;
}

.item-form {
    padding-right: 120px;
}

.item-form-header {
    padding-right: 120px;
}

.item-form .delete-field {
    float: right;
    width: 100px;
    margin-right: -120px;
}

.item-form .row-extras,
.item-form-sortable-row .row-extras {
    float: right;
    margin-right: -140px;
}

.item-form .btn,
.item-form-sortable-row .btn {
    min-width: 100px;
}

.item-form .form-group,
.item-form-sortable-row .form.group {
    margin-bottom: 2px;
}

.item-form .boolean-select,
.item-form-sortable-row .boolean-select {
    min-height: 34px;
}

.color-field .input-group {
    max-width: 130px;
}

.side-form {
    position: absolute;
    right: 0;
    width: 800px;
    background-color: #fff;
    z-index: 49;
    border-left: 1px solid #ccc;
    padding-left: 40px;
}

.column-editor td,
.column-editor th {
    padding: 2px;
}

.column-editor table > tbody > tr:nth-of-type(2n+1) {
    background-color: #f9f9f9;
}

.column-editor table > thead > tr > th {
    text-align: center;
    vertical-align: bottom;
    padding-bottom: 5px;
}

.column-editor table > tbody > tr > th {
    padding-right: 10px;
}

.column-editor table .form-group {
    min-width: 250px;
    margin-bottom: 0px;
}

.loader {
    border: 2px solid #f3f3f3;
    border-top: 2px solid #555;
    border-radius: 50%;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-left: 4px;
    margin-bottom: -3px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome and Opera */
}

.drag-handle {
    margin-left: 4px;
    display: inline-block;
    width: 16px;
    height: 11px;
    opacity: 0.50;
    cursor: row-resize;

    background: linear-gradient(
        to bottom,
        black, black 20%,
        white 20%, white 40%,
        black 40%, black 60%,
        white 60%, white 80%,
        black 80%, black 100%
    );
}

.Select-menu-outer {
    z-index: 9;
    max-height: 402px;
}

.Select-menu {
    max-height: 400px;
    overflow-y: auto;
}
