.interaction-select {
    position: absolute;
    z-index: 99;
    border-right: 1px solid #777;
    border-bottom: 1px solid #777;
    background-color: #000;
}

.interaction-select > div {
    padding-right: 5px;
    padding-left: 5px;
    cursor: pointer;
}

.interaction-select > div:last-child {
    padding-bottom: 5px;
}

.interaction-select > div.active {
    background-color: #024;
    color: #fff;
}
