.game-view {
    overflow: hidden;
    height: 100%;
}

.game-view.scrollable {
    overflow: visible;
    overflow-y: auto;
    padding-right: 15px;
}

.screen {
    position: relative;
}

.screen > canvas {
    position: absolute;
}

.form-inline > .form-group > * {
    margin-right: 10px;
}

.form-inline > .form-group > *:last-child {
    margin-right: 0;
}

/* colors */
html, body {
    background-color: #000;
    color: lightgray;
}

.btn-default {
    background-color: #eee;
}
.btn-default:hover {
    background-color: #fff;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border-color: #555;
}

.table > tbody + tbody {
    border-color: #555;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #171717;
}

.table > tbody > tr.active > td {
    background-color: #024;
}

.panel {
    background-color: #171717;
}
