table.view {
    border: 1px solid #ccc;
    border-collapse: collapse;
    font-size: 10px;
}

table.view td {
    border: 1px solid #ccc;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    text-align: center;
}

table.view td.seen {
    background-color: yellow
}
