.inventory {
    max-width: 1400px;
}

.inventory-list {
    margin-right: 820px;
    min-width: 400px;
    padding-top: 6px;
}

.inventory-panels {
    float: right;
}

.inventory > .nav {
    margin-bottom: 1em;
}

.inventory-list td > .btn,
.inventory-list td > .btn-group {
    min-width: 75px;
}
