.inventory {
    max-width: 1400px;
}

.inventory-list {
    margin-right: 820px;
    min-width: 400px;
    padding-top: 6px;
}

.inventory-panels {
    float: right;
}

.inventory > .nav {
    margin-bottom: 1em;
}

.inventory-list td > .btn,
.inventory-list td > .btn-group {
    min-width: 90px;
}

.inventory-list td > .btn-group > .btn:first-child {
    min-width: 65px;
}

.actions-dropdown {
    position: relative;
}

.actions-dropdown > .toggle {
    position: absolute;
    margin-top: -37px;
    width: 380px;
    text-align: right;
    cursor: pointer;
}

.actions-dropdown > .menu {
    position: absolute;
    width: 380px;
    border-left: 1px solid #777;
    border-right: 1px solid #777;
    border-bottom: 1px solid #777;
    background-color: #000;
}

.actions-dropdown > .menu.closed {
    display: none;
}

.actions-dropdown > .menu > div {
    text-align: center;
    cursor: pointer;
}

.actions-dropdown > .menu > div:last-child {
    padding-bottom: 5px;
}

.actions-dropdown > .menu > div.active {
    background-color: #024;
    color: #fff;
}
