.area-editor {
    font-size: 20px;
    font-family: "Lucida Console", Monospace;
    background-color: #000;
    border: 1px solid #000;
    cursor: pointer;
}

.area-editor td {
    padding: 0;
    border: 0;
    width: 25px;
    height: 25px;
    line-height: 24px;
    vertical-align: middle;
    text-align: center;
}

.area-editor td > div {
    border: 1px solid transparent;
}

.area-editor td:hover {
    background-color: rgb(255, 255, 255, 0.15);
}

.area-editor .selected {
    background-color: rgb(255, 255, 255, 0.25);
}
